body{
    background: rgb(255,113,91);
    background: linear-gradient(90deg, rgba(255,113,91,1) 0%, rgba(76,84,84,1) 50%, rgba(255,113,91,1) 100%);
    user-select: none;
}
#container{
    height: 750px;
    width: 550px;
    border: 2px solid #4C5454;
    margin: 0 auto;
    border-radius: 10px;
    display: grid;
    background-color: #4C5454;
    color: #4C5454;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    grid-template: 200px 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 1px;
    box-shadow: 0 0 50px #4C5454;
    position: relative;
    animation-name: example;
    animation-duration: 0.5s;
    user-select: none;

}
@keyframes example {
    0%   { left:0px; right:10px;}
    25%  { left:200px; right:0px;}
    50%  { left:0px; right:200px;}
    75%  { left:200px; right:0px;}
    100% { left:0px; right:220px;}
  }

#container>div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF715B;
    border-radius: 10px;
    user-select: none;
    transition: 200ms linear;


}
#container>div:hover{
    background-color: #4C5454;
    color: #FF715B;
    font-size: 55px;
}

div#display{
    grid-column: 1 / 5;
    justify-content: right;
    padding:10px;
    pointer-events: none;
    text-align: right;




}
.wide{
    grid-column-end: span 2;
}
#footer{
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #FF715B;
}

